.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.teDiv {
	display: flex;
	flex-direction: column;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.googleButton {
	max-width: 95%;
}

.googleLoginImage {
	width: 100%;
	height: 100%;
}

.transactionDiv {
	max-width: 400px;
	margin: 0 auto;
}

.btn-primary {
	background: #3C65E7;
}

.googleLoginButton {
	max-width: 200px;
	background: none;
	padding: 0rem;
    border:none;
}

body {
	background: rgb(56,106,222);
	background: linear-gradient(150deg, rgba(56,106,222,1) 0%, rgba(214,153,233,1) 95%);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	color: white;
}

.contentDiv > * {
	height: 20%;
}

.contentDiv {
	color: white;

	margin: 0 auto;
	max-width: 90%;
	max-width: 300px;
	border-radius: 1rem;

	text-align: center;
	display: flex;
	flex-direction: column;
	align-content: space-around;

	height:100vh;
}

.feature-li {
		font-size: .75rem;
}

.loginDiv {
		display: flex;
		flex-direction: column;
		justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
